@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* .nav-icon{
    width: 6vw;
    min-width: 70px;
} */


.know-us-section{
    background-color: #b6cadd;
    /*height: 100vh;*/
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    color: #2b2b2b;
    text-align: center;
    font-weight: 600;  /* 300 */
    padding-top: 9vh;
}

.know-us-section h4{
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    color: #2b2b2b;
    text-align: center;
    font-weight: 300;
    padding-top: 3vh;
}

@media (max-width: 575px) {
    h1{
        font-size: 2rem !important;
    }
    .know-us-section p{
        font-size: 1rem !important;
    }
}

/* .float-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.float-icon img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.icon-ig{
    margin-bottom: 10px;
}

.float-icon img:hover {
    transform: scale(1.1);
    cursor: pointer;
} */

.know-us-section p{
    text-align: center;
    font-weight: 300;
    padding-top: 3vh;
}

p, button{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; /*1.3vw*/
    color: #2b2b2b;
}


.card{
    height: fit-content;
}

.item-team{
    background-color: white;
    height: 60vh;
    width: 80vw;
    border-radius: 15px;
    margin: 0 auto;
}

.item-team .col-sm-5:first-child{
    border-radius: 15px;
}

.item-team .col{
    border-radius: 15px;
}

.item-team img{
    width: 23vw;
    border-radius: 100%;
    min-width: 200px;
}

.faqs{
    background-color: #b6cadd;
    padding-bottom: 1vh;
}

.faqs button{
    font-weight: 600;
}